@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafaf9; /* stone-50 */
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}